/********************* External ***********************/
    /* Can change the display values from block to inline to inline-block & none */


/************* Tag Selectors ***************/

body{
  margin: 0;
  text-align: center;
  /* The link for this font is in the head of index.html */
  /* The font will default to serif if Merriweather is not possible */
  font-family: 'Merriweather', serif;
}

h1{
  /* Had to remove margin-top in order to use width */
  /* margin-top: 0; */

  /* margin is based on top - right - bottom - left */
  margin: 50px auto 0 auto;


  /* Increased width of text - font size pretty much */
  /* width: 10%;  */
  font-family: 'Sacramento', cursive;

  /* to make it not dynamic and equivalent to 90px use 562.5% or use 5.625em for 90px
    So, when someone decides to modify their browser text, the text will get larger or smaller based on it
    In this case we are using root em instead of em alone to avoid the addition of font-size from a parent
    which could potentially enlarge the text or make it smaller.
    */
  font-size: 5.625rem;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  font-size: 30px;

  /* These adjustments are needed to remove the gap between mid and bot container, so the white background color
     does not appear. Margin is to prevent that and padding is for spacing purposes */
  margin-top: 0px;
  padding-top:20px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


/************* Class Selectors ***************/

.bottom-container{
  background-color: #E4F9F5;
}

.bottom-cloud{
  /* The changes below are based on the margins of the top-container (its parent)*/
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud1 {
  width: 200px;
  height: auto;
}


.cloud2{
  width: 200px;
  height: auto;
}


.middle-container {
 background-color: #DAEAF1;
}

.lead{
  text-align: center;
  color: #727878;
}

.programming{
  border-radius: 50%;
  width: 50%;
  /* Changed height in order for it to look as round as possible compared to system-integration image */
  height: 40%;
  /* float allows you to have text aligned with the image */
  float: right;
  padding-left: 1rem;
}

.schools{
  text-align: left;
}

.skill-height{
padding-top: 70px;
}

.skill-row{
  width: 70%;
  margin:100px auto 200px auto;
  /* This will override the text-align: center in the body */
  text-align: left;
  line-height: 2;
}

.sys{
  text-decoration: underline;
}



.system-integration{
  border-radius: 70%;
  /* Image is too large so I modified the width using a % rather than a pixel. Using pixel will require to use height */
  width: 50%;
  /* width 600px; */
  /* height: auto; */

  /* float allows you to have text aligned with the image */
  float: left;

  /* To add space between the image and text */
  padding-right: 30px;
  margin-bottom: 40px;

}

.top-cloud{
  /*
     Using absolute allows the cloud to be aligned based on the parent class which is div
     and not the body. This is the reason for why now the cloud is above of the mountain
     rather than on the left hand side of it. Using relative would not have the same affect.
  */

  /* The changes below are based on the margins of the top-container (its parent)*/
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #E4F9F5;
  /* Added position in order to have the top and bottom clouds be relative to this container rather than the body */
  position:relative;
  /* Added padding to drop the text and clouds a little bit, relative to the top side */
  padding-top: 100px;
}





/************* ID Selectors ***************/
#me {
  margin-top: 2rem;
  border-radius: 50%;
}

#middle-bottom-hr{
  margin-bottom: 0px;
}

#sys-engineer{
  font-size: 2.5rem;
}
